<html>
<head>
  <title>Icarus Verilog GUI: <%= title %></title>
  <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/iverilog-gui.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Icarus Verilog GUI</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="index.html">Home</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%- body %>
</div>
<script src="libs/jquery-1.10.1.js"></script>
<script src="libs/bootstrap/js/bootstrap.js"></script>
</body>
</html>
