body {
  padding-top: 60px;
}

#loading {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 90px;
  font-weight: bold;
  height: 25px;
  border-radius: 5px;
  background-color: #00b500;
  border: 1px solid #8e8e8e;
  padding: 10px;
  z-index: 99999;
}

#loading .content {
  display: table-cell;
  vertical-align: middle;
}

table.summary {
  border-collapse: collapse;
}

table.summary,
table.summary th,
table.summary td {
  border: 1px solid black;
}

table.summary td {
  padding: 5px;
}

tr.fail {
  background-color: #ffacb3;
}

.test-bench-results th {
  text-align: right;
}

.test-bench-results th {
  padding-right: 5px;
}

.test-bench-results td.fail {
  background-color: #ffacb3;
}

.output .error {
  background-color: #ffacb3;
}

.output .success {
  background-color: #c9ffd8;
}

div.banner {
  text-align: center;
}

div.banner.fail {
  background-color: #ffacb3;
}

div.banner.success {
  background-color: #79ff88;
}

a.lineNumber {
  width: 50px;
  display: inline-block;
  text-align: right;
}